
/* ⓒ 2010 hika */

.soo_exif{ display:block; opacity:0.8; filter:alpha(opacity=80); color:#fff; background:#000; font:11px Tahoma; line-height:1.6; padding:0 15px 12px 15px; margin:15px; border:1px solid #333; z-index:1000;}
.soo_exif strong{ font-size:17px; line-height:2.5;}
.soo_exif_hide{ display:none;}
.soo_exif_show{ display:block;}