.soo_exif {
	display:block;
	opacity:0.75;
	-moz-opacity:0.75;
	filter: alpha(opacity=75);
	color:#ffffff;
	background:#000000;
	font-weight: normal;
	font-size: 1.1em;
	font-family: Times New Roman;
	line-height: 170%;
}
.soo_exif strong {
	font-size: 1.2em;
}

.soo_exif_hide { display:none; }
.soo_exif_show { display:block; }