// 네이버 이미지 컴포넌트 스타일 시트 파일.
// Copyright ⓒ 2009, misol(김민수) <misol@korea.ac.kr>
// 정낙훈님께서 책 검색 컴포넌트 디자인으로 주신 것 활용.
@charset "UTF-8";
#popup_content { width:600px; }
#popHeader, .result_list_box { margin:13px; }
.search { border-top:2px solid #525f77; border-bottom:2px solid #2e323a; padding:5px; margin:0px; background:#4b576c; }
#query { width:180px; }
#query, .search .searchinput{ padding:3px; border:3px solid #6c768a; float:left; margin-left:5px; }
.searchinput:hover,.searchinput:active,.searchinput:focus{ background:#e4ecfb; }

#soo_result_info { color:#555555; width:600px; padding-right:20px; text-align: right; border-top:2px solid #8d8f91; }

.image_list_box { color:#777777; margin-top:1em; clear:both; height:410px; width:600px; overflow:auto;}
.image_list_box a { color:#777777; strong }
.image_list_box span:before {content:url("../images/arrow.gif"); margin:0px 3px; float:left; text-indent:1em;}
.image_layer {float: left; border-style: dotted; border-width:0px 0px 1px 0px; width:130px; height:200px; margin:0px 5px 0px 0px; overflow:hidden; padding:5px; text-align:center;}

.pagebtn, .searchinput { margin:0px 3px; }
.book_link { text-align:right; }

#where{ width:90px; }
#cata { width:150px; }
.about_soo_image_search, #soo_img_head {display:none;}

#popHeader h1 { font-size:1.2em; margin:5px 0px 0px 0px; padding:0px; }